<%- include('./partials/header.ejs') %>
    <%- include('./partials/navbar.ejs') %>
        <div class="container">
            <div class="row mt-5">
                <h1>Home Page</h1>
                <hr>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nemo mollitia eius porro cupiditate a
                    eveniet ut vel
                    architecto doloribus, consequuntur unde molestias, dolore quod sequi? Dolores commodi nesciunt
                    ratione est.</p>
            </div>
        </div>
        <%- include('./partials/footer.ejs') %>